<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/lib/bootstrap/bootstrap.min.css' />
	<link rel='stylesheet' href='/css/lib/font-awesome/font-awesome.min.css' />
	<link rel='stylesheet' href='/css/asset.css' />

	<script src="/js/lib/jquery.js"></script>
	<script src="/js/lib/angular.js"></script>
</head>